<h1>It's a home page</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed nisl mi. Aenean ac aliquet ante. Phasellus
  volutpat a tortor ac congue. Sed ac quam mi. Nam sollicitudin lacus in mollis pharetra. Donec vestibulum nibh at nibh
  semper accumsan. Aliquam erat volutpat. Duis suscipit vulputate sem, in interdum est blandit ut. Curabitur sit amet
  massa pellentesque, lacinia lorem eu, pretium quam. Vivamus eget rhoncus magna, vitae dictum purus. Nunc nec rutrum
  nulla. Ut efficitur quam at interdum convallis. Suspendisse ullamcorper lectus at felis consectetur, et fringilla
  augue scelerisque.</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient
  montes, nascetur ridiculus mus. Fusce imperdiet nibh et mauris dictum, nec semper ipsum cursus. Duis varius congue
  felis ac hendrerit. Duis ultricies vitae magna quis luctus. Nunc rhoncus ut ligula non feugiat. Phasellus ultrices
  urna vel quam congue, accumsan suscipit leo efficitur. Suspendisse nisl mi, egestas et tincidunt et, venenatis
  facilisis magna. Donec euismod aliquet eros sit amet scelerisque. Pellentesque nunc purus, porttitor id hendrerit sit
  amet, maximus convallis ante. Integer id tincidunt ex, a sagittis nisi. Phasellus luctus, dolor nec tempus vulputate,
  ligula enim aliquet ligula, nec volutpat lectus mi nec lorem.</p>

<a mat-raised-button color="primary" [routerLink]="['/posts']">Posts</a>
