<mat-toolbar>
  <span class="logo-wrapper">
    <button mat-icon-button aria-label="Menu button" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['']" (click)="sidenav.close()">
      <img src="/assets/images/chambers_logo.svg" class="logo" aria-label="Chambers logo">
    </a>
  </span>
  <div *ngIf="profile$ | async as profile" aria-label="Profile">
    {{profile.name}}
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation" mode="side">
    <mat-nav-list>
      <a [routerLink]="['/users']" mat-list-item routerLinkActive="active" (click)="sidenav.close()">
        <mat-icon aria-hidden="false" aria-label="Users icon">people</mat-icon>
        Users
      </a>
      <a [routerLink]="['/posts']" mat-list-item routerLinkActive="active" (click)="sidenav.close()">
        <mat-icon aria-hidden="false" aria-label="Posts icon">feed</mat-icon>
        Posts
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--in here all the content must reside. We will add a navigation header as well-->
    <main>
      <ng-content></ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
